.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}
.heading_div {
    float: none;
    background: white;
    padding: 10px;
    border-radius: 20px;
    color: black;
    box-shadow: 5px 5px 5px grey;
}
.heading_div2 {
    font-size: 18px;
}
.result_para_tag {
    box-shadow: 5px 5px 5px grey;
    font-size: 20px;
    border-radius: 20;
}
.copy_right_footer {
position: fixed;
color: white;
bottom: 0;
width: 100%;
background-color: rgb(252, 1, 147);
text-align: center;
line-height: 3;
}
canvas {
    border-radius: 20px;
    margin-top: 150px;
    box-shadow: 5px 5px 5px grey;
    border: 5px solid rgb(105, 233, 255);
}